* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.calculadora {
    width: 300px;
    margin:  auto;
    text-align: center;
    border-radius: 10px;
    background-color: #504f4d;
    margin-top: 50px;
    color: #ffffffa8;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 10px;
    
  }
  
  .texto {
    width: 80%;
    height: 50px;
    font-size: 24px;
    margin: 10px;
    background-color: #5dd4ee;
    color: rgb(26, 48, 48);
    text-align: right;
    
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .number {
    background-color: #f0f0f0;
  }
  
  .operator, .decimal, .equals, .clear {
    background-color: #7c7b7a;
  }
  
  